In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar xf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [4]:
!pip install -U pyarrow #pyarrow is spark and pandas compatible. No need to do pickling and unpickling

Requirement already up-to-date: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied, skipping upgrade: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [9]:
import sys,tempfile, urllib.request  #use urllib.request instead of urllib
from pyspark.sql.functions import *

In [7]:

BASE_DIR = '/tmp'
CHURN_DATA_FILE = os.path.join(BASE_DIR, 'Churn_Modelling.csv')

In [12]:
churn_data=urllib.request.urlretrieve('https://raw.githubusercontent.com/AbhiroopC96/Apache-Spark-on-Google-Colab/main/Churn_Modelling.csv',CHURN_DATA_FILE)

In [13]:
!ls /tmp

blockmgr-bc9d8fae-d933-4e86-84a3-afda2f806823
Churn_Modelling.csv
dap_multiplexer.904bf7d9be55.root.log.INFO.20210304-080512.47
dap_multiplexer.INFO
debugger_1v7geqxsgz
hsperfdata_root
initgoogle_syslog_dir.0
spark-67cf2b41-a228-422a-a652-4a53c1bacb33
spark-7be2add3-a292-46fb-9aea-9d9ec4f5e07c

In [16]:
churn_df = spark.read.option("inferSchema", "true").csv("/tmp/Churn_Modelling.csv", header=True)

In [17]:
churn_df.count()

10000

In [18]:
churn_df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [22]:
churn_df.filter("Geography='Germany'")

DataFrame[RowNumber: int, CustomerId: int, Surname: string, CreditScore: int, Geography: string, Gender: string, Age: int, Tenure: int, Balance: double, NumOfProducts: int, HasCrCard: int, IsActiveMember: int, EstimatedSalary: double, Exited: int]

In [23]:
churn_df.filter("Geography='Germany'").show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|       16|  15643966|   Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|     Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       27|  15736816|     Young|        756|  Germany|  Male| 36|     2|136815.64|            1|        1|             1|      170041.95|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|        1|             1|      100187.43|     0|
|       33|  15750181| Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|     0|
|       40|  15585768|   Cameron|        582|  Germany|  Male| 41|     6| 70349.48|            2|        0|             1|      178074.04|     0|
|       46|  15754849|     Tyler|        776|  Germany|Female| 32|     4|109421.13|            2|        1|             1|      126517.46|     0|
|       47|  15602280|    Martin|        829|  Germany|Female| 27|     9|112045.67|            1|        1|             1|      119708.21|     1|
|       48|  15771573|   Okagbue|        637|  Germany|Female| 39|     9| 137843.8|            1|        1|             1|       117622.8|     1|
|       49|  15766205|       Yin|        550|  Germany|  Male| 38|     2|103391.38|            1|        0|             1|       90878.13|     0|
|       50|  15771873|    Buccho|        776|  Germany|Female| 37|     2|103769.22|            2|        1|             0|      194099.12|     0|
|       51|  15616550|Chidiebele|        698|  Germany|  Male| 44|    10|116363.37|            2|        1|             0|      198059.16|     0|
|       52|  15768193| Trevisani|        585|  Germany|  Male| 36|     5|146050.97|            2|        0|             0|       86424.57|     0|
|       54|  15702298|  Parkhill|        655|  Germany|  Male| 41|     8|125561.97|            1|        0|             0|      164040.94|     1|
|       55|  15569590|       Yoo|        601|  Germany|  Male| 42|     1| 98495.72|            1|        1|             0|       40014.76|     1|
|       58|  15647091|  Endrizzi|        725|  Germany|  Male| 19|     0|  75888.2|            1|        0|             0|       45613.75|     0|
|       61|  15651280|    Hunter|        742|  Germany|  Male| 35|     5| 136857.0|            1|        0|             0|       84509.57|     0|
|       62|  15773469|     Clark|        687|  Germany|Female| 27|     9|152328.88|            2|        0|             0|      126494.82|     0|
|       65|  15592461|   Jackson|        603|  Germany|  Male| 26|     4|109166.37|            1|        1|             1|       92840.67|     0|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [26]:
churn_df.filter("Geography='Germany' and Surname like 'C%' ").show()  #people from Germany and their surnames starting with a C

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|       40|  15585768|   Cameron|        582|  Germany|  Male| 41|     6| 70349.48|            2|        0|             1|      178074.04|     0|
|       51|  15616550|Chidiebele|        698|  Germany|  Male| 44|    10|116363.37|            2|        1|             0|      198059.16|     0|
|       62|  15773469|     Clark|        687|  Germany|Female| 27|     9|152328.88|            2|        0|             0|      126494.82|     0|
|       68|  15641582|   Chibugo|        735|  Germany|  Male| 43|    10|123180.01|            2|        1|             1|      196673.28|     0|
|      119|  15661670|  Chidozie|        524|  Germany|Female| 31|     8|107818.63|            1|        1|             0|      199725.39|     1|
|      124|  15760085| Calabresi|        684|  Germany|Female| 48|    10|126384.42|            1|        1|             1|      198129.36|     0|
|      135|  15712543| Chinweike|        789|  Germany|  Male| 39|     7|124828.46|            2|        1|             1|      124411.08|     0|
|      160|  15804017|  Chigolum|        631|  Germany|Female| 33|     4| 123246.7|            1|        0|             0|      112687.57|     0|
|      228|  15676895|  Cattaneo|        547|  Germany|Female| 39|     6| 74596.15|            3|        1|             1|       85746.52|     1|
|      291|  15652266|Chidiebele|        703|  Germany|  Male| 42|     9|  63227.0|            1|        0|             1|      137316.32|     0|
|      312|  15702919|   Collins|        729|  Germany|  Male| 30|     6| 63669.42|            1|        1|             0|      145111.37|     0|
|      364|  15745088|      Chen|        443|  Germany|Female| 29|     9| 99027.61|            2|        1|             0|        10940.4|     0|
|      372|  15774696|      Cole|        640|  Germany|Female| 75|     1|106307.91|            2|        0|             1|      113428.77|     0|
|      396|  15807432|     Cheng|        645|  Germany|Female| 37|     2|136925.09|            2|        0|             1|      153400.24|     0|
|      414|  15801559|    Chiang|        693|  Germany|Female| 41|     9|181461.48|            3|        1|             1|      187929.43|     1|
|      427|  15652883|     Chung|        492|  Germany|  Male| 39|    10|124576.65|            2|        1|             0|      148584.61|     0|
|      437|  15693737|      Carr|        627|  Germany|Female| 30|     4| 79871.02|            2|        1|             0|      129826.89|     0|
|      598|  15567446|   Coffman|        646|  Germany|  Male| 39|     9|111574.41|            1|        1|             1|       30838.51|     0|
|      623|  15636444|     Craig|        535|  Germany|Female| 53|     5|141616.55|            2|        1|             1|       75888.65|     0|
|      644|  15640078|  Chambers|        660|  Germany|Female| 39|     5|135134.99|            1|        1|             0|       173683.0|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [28]:
churn_gender_filter_df=churn_df.filter(col('Gender').startswith('M'))

In [29]:
churn_gender_filter_df.show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        6|  15574012|          Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|     Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        9|  15792365|           He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|           H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|       Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|      Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       16|  15643966|      Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|        Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       19|  15661507|      Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       21|  15577657|     McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|     0|
|       24|  15725737|       Mosman|        669|   France|  Male| 46|     3|      0.0|            2|        0|             1|        8487.75|     0|
|       26|  15738191|      Maclean|        577|   France|  Male| 25|     3|      0.0|            2|        0|             1|      124508.29|     0|
|       27|  15736816|        Young|        756|  Germany|  Male| 36|     2|136815.64|            1|        1|             1|      170041.95|     0|
|       28|  15700772|      Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|     0|
|       30|  15656300|     Lucciano|        411|   France|  Male| 29|     0| 59697.17|            2|        1|             1|       53483.21|     0|
|       32|  15706552|Odinakachukwu|        533|   France|  Male| 36|     7|  85311.7|            1|        0|             1|      156731.91|     0|
|       33|  15750181|    Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|     0|
|       37|  15788448|       Watson|        490|    Spain|  Male| 31|     3|145260.23|            1|        0|             1|      114066.77|     0|
|       38|  15729599|      Lorenzo|        804|    Spain|  Male| 33|     7|  76548.6|            1|        0|             1|       98453.45|     0|
|       39|  15717426|    Armstrong|        850|   France|  Male| 36|     7|      0.0|            1|        1|             1|        40812.9|     0|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [33]:
churn_df.first()

Row(RowNumber=1, CustomerId=15634602, Surname='Hargrave', CreditScore=619, Geography='France', Gender='Female', Age=42, Tenure=2, Balance=0.0, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=101348.88, Exited=1)

In [35]:
churn_df.take(5)

[Row(RowNumber=1, CustomerId=15634602, Surname='Hargrave', CreditScore=619, Geography='France', Gender='Female', Age=42, Tenure=2, Balance=0.0, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=101348.88, Exited=1),
 Row(RowNumber=2, CustomerId=15647311, Surname='Hill', CreditScore=608, Geography='Spain', Gender='Female', Age=41, Tenure=1, Balance=83807.86, NumOfProducts=1, HasCrCard=0, IsActiveMember=1, EstimatedSalary=112542.58, Exited=0),
 Row(RowNumber=3, CustomerId=15619304, Surname='Onio', CreditScore=502, Geography='France', Gender='Female', Age=42, Tenure=8, Balance=159660.8, NumOfProducts=3, HasCrCard=1, IsActiveMember=0, EstimatedSalary=113931.57, Exited=1),
 Row(RowNumber=4, CustomerId=15701354, Surname='Boni', CreditScore=699, Geography='France', Gender='Female', Age=39, Tenure=1, Balance=0.0, NumOfProducts=2, HasCrCard=0, IsActiveMember=0, EstimatedSalary=93826.63, Exited=0),
 Row(RowNumber=5, CustomerId=15737888, Surname='Mitchell', CreditScore=850, Geography='Spain', Gender='Female', Age=43, Tenure=2, Balance=125510.82, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=79084.1, Exited=0)]

In [36]:
churn_df.filter("Geography='Germany'").sort(col("Surname"), ascending=False).show()

+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|         Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|     6386|  15706810|          Zuyeva|        606|  Germany|Female| 32|     1|106301.85|            2|        0|             1|       59061.25|     0|
|     6974|  15583394|           Zuyev|        659|  Germany|  Male| 39|     8|106259.63|            2|        1|             1|      198103.32|     0|
|     8709|  15776939|             Zox|        778|  Germany|Female| 48|     3|102290.56|            2|        1|             0|      182691.31|     0|
|     4511|  15657747|            Zito|        611|  Germany|Female| 43|     9|127216.31|            2|        0|             1|       17913.25|     0|
|     5335|  15813681|            Zito|        786|  Germany|  Male| 24|     2|120135.55|            2|        1|             1|      125449.47|     0|
|     4892|  15676958|            Zito|        765|  Germany|  Male| 34|     5| 86055.17|            2|        1|             1|       104220.5|     0|
|     1019|  15602010|Zikoranaudodimma|        850|  Germany|Female| 45|     5|103909.86|            1|        1|             0|       60083.11|     1|
|     5291|  15743490|Zikoranachidimma|        795|  Germany|Female| 56|     9| 94348.94|            1|        1|             0|       29239.29|     1|
|     2248|  15785485|            Zhou|        595|  Germany|Female| 41|     2|138878.81|            1|        0|             1|      112269.67|     0|
|      270|  15799217|        Zetticci|        791|  Germany|Female| 35|     7|  52436.2|            1|        1|             0|      161051.75|     0|
|     4278|  15797910|        Zetticci|        775|  Germany|  Male| 51|     2|123783.25|            1|        1|             1|      134901.57|     0|
|     9163|  15606097|        Zakharov|        665|  Germany|  Male| 63|     7|104469.58|            1|        1|             1|       25165.36|     1|
|     7804|  15691504|        Yusupova|        619|  Germany|Female| 52|     8|124099.13|            1|        0|             0|       23904.52|     0|
|     4884|  15593280|         Yuryeva|        614|  Germany|  Male| 43|     8|140733.74|            1|        1|             1|      166588.76|     0|
|     2824|  15764351|         Yuryeva|        668|  Germany|Female| 59|     5|120170.07|            1|        0|             1|        50454.8|     0|
|     2718|  15648702|          Yuriev|        775|  Germany|  Male| 70|     6|119684.88|            2|        1|             1|       74532.02|     0|
|       98|  15693683|          Yuille|        814|  Germany|  Male| 29|     8|  97086.4|            2|        1|             1|      197276.13|     0|
|     1748|  15659486|          Yudina|        586|  Germany|  Male| 34|     9| 74309.81|            1|        1|             0|       15034.93|     0|
|     9600|  15690456|          Yudina|        749|  Germany|Female| 32|     7| 79523.13|            1|        0|             1|      157648.12|     0|
|     3960|  15663164|           Yudin|        663|  Germany|  Male| 49|     7|116150.65|            3|        1|             1|       84358.71|     1|
+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [38]:
churn_df.filter("Geography='Germany'").orderBy(col("Surname"), ascending=True).show()

+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|    Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|     6085|  15619494|    Abdulov|        562|  Germany|Female| 31|     9| 117153.0|            1|        1|             1|      108675.01|     0|
|     5461|  15668894|   Abramova|        661|  Germany|  Male| 41|     5|122552.48|            2|        0|             1|       120646.4|     0|
|     8952|  15636388|     Abrego|        702|  Germany|Female| 23|     7| 98775.23|            1|        1|             0|      114603.96|     0|
|     8807|  15598940|     Achebe|        681|  Germany|  Male| 38|     6|181804.34|            2|        1|             1|       57517.71|     0|
|      683|  15775238|     Achebe|        651|  Germany|Female| 41|     4|133432.59|            1|        0|             1|      151303.48|     0|
|     9762|  15736778|      Adams|        807|  Germany|Female| 60|     1| 72948.58|            2|        1|             1|       17355.36|     0|
|     8333|  15814772|      Adams|        645|  Germany|  Male| 49|     4|160133.88|            1|        0|             1|       88391.97|     0|
|     9860|  15615430|      Adams|        678|  Germany|  Male| 55|     4|129646.91|            1|        1|             1|       184125.1|     1|
|     4115|  15647008|      Adams|        624|  Germany|  Male| 54|     3|116726.22|            1|        1|             0|       110498.1|     1|
|     8085|  15736146|  Afamefula|        608|  Germany|  Male| 28|     4| 96679.71|            1|        1|             1|       49133.45|     0|
|     7471|  15602456|  Afanasyev|        850|  Germany|Female| 47|     4| 99219.47|            2|        1|             1|      122141.13|     0|
|     8364|  15677336|     Aitken|        557|  Germany|  Male| 57|     1|120043.13|            1|        1|             0|      132370.75|     1|
|     5179|  15794849|     Aitken|        850|  Germany|  Male| 22|     7| 91560.58|            2|        0|             0|       10541.38|     0|
|     8981|  15786433|     Aitken|        650|  Germany|Female| 35|     3|165982.43|            2|        1|             1|       24482.16|     0|
|     8826|  15797081|Ajuluchukwu|        611|  Germany|Female| 49|     9|115488.52|            2|        1|             1|      138656.81|     1|
|     9068|  15684645|Ajuluchukwu|        704|  Germany|  Male| 41|     9| 62078.21|            2|        1|             0|      129050.67|     0|
|     6695|  15576706|Ajuluchukwu|        651|  Germany|  Male| 37|     9|114453.58|            1|        0|             1|      175820.91|     0|
|     9784|  15680430|Ajuluchukwu|        601|  Germany|Female| 49|     4| 96252.98|            2|        1|             0|      104263.82|     0|
|     7399|  15577771|   Akabueze|        453|  Germany|Female| 40|     1|111524.49|            1|        1|             1|      120373.84|     1|
|     7734|  15596013|     Akhtar|        694|  Germany|Female| 58|     1|143212.22|            1|        0|             0|      102628.56|     1|
+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [40]:
churn_df.filter("Geography='Germany'").sortWithinPartitions([col("IsActiveMember"),col("NumOfProducts")], ascending=False).show()

+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|         Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|     1877|  15664754|          Steele|        640|  Germany|  Male| 39|     9|131607.28|            4|        0|             1|        6981.43|     1|
|     2197|  15791700|Ugochukwutubelum|        773|  Germany|  Male| 47|     2|118079.47|            4|        1|             1|      143007.49|     1|
|     2286|  15783615|           Ramos|        630|  Germany|  Male| 50|     3|129370.91|            4|        1|             1|       47775.34|     1|
|     2618|  15602735|             Kuo|        692|  Germany|  Male| 45|     6|152296.83|            4|        0|             1|      108040.86|     1|
|     4015|  15597914|       Evdokimov|        641|  Germany|Female| 51|     2|117306.69|            4|        1|             1|       26912.72|     1|
|     4517|  15812210|         Yashina|        497|  Germany|Female| 32|     8|111537.23|            4|        1|             1|        9497.99|     1|
|     4749|  15759067|          Bromby|        537|  Germany|Female| 37|     7|158411.95|            4|        1|             1|      117690.58|     1|
|     5011|  15719508|           Davis|        575|  Germany|  Male| 49|     7|121205.15|            4|        1|             1|      168080.53|     1|
|     6173|  15656822|             Day|        568|  Germany|  Male| 43|     5| 87612.64|            4|        1|             1|       107155.4|     1|
|     9216|  15624180|        Genovesi|        584|  Germany|Female| 37|    10| 134171.8|            4|        1|             1|       70927.11|     1|
|      228|  15676895|        Cattaneo|        547|  Germany|Female| 39|     6| 74596.15|            3|        1|             1|       85746.52|     1|
|      377|  15583456|        Gardiner|        745|  Germany|  Male| 45|    10|117231.63|            3|        1|             1|      122381.02|     1|
|      414|  15801559|          Chiang|        693|  Germany|Female| 41|     9|181461.48|            3|        1|             1|      187929.43|     1|
|      539|  15794142|        Ferreira|        564|  Germany|Female| 62|     5|114931.35|            3|        0|             1|       18260.98|     1|
|      765|  15672056|         Kenenna|        710|  Germany|  Male| 43|     2|140080.32|            3|        1|             1|      157908.19|     1|
|      814|  15775306|              Ni|        421|  Germany|  Male| 28|     8|122384.22|            3|        1|             1|       89017.38|     1|
|     1097|  15813168|         Maslova|        756|  Germany|Female| 39|     3|100717.85|            3|        1|             1|       73406.04|     1|
|     1956|  15779176|            Dike|        565|  Germany|Female| 58|     3|108888.24|            3|        0|             1|      135875.51|     1|
|     2211|  15769917|       Onyekachi|        673|  Germany|Female| 34|     1|127122.79|            3|        0|             1|        76703.1|     0|
|     2422|  15574842|         Lorenzo|        653|  Germany|Female| 25|     2|158266.42|            3|        1|             1|      199357.24|     0|
+---------+----------+----------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [41]:

churn_df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [42]:
churn_df.filter('CreditScore>700').sort(col('Age')).show()

+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|    Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|     2022|  15795519|   Vasiliev|        716|  Germany|Female| 18|     3| 128743.8|            1|        0|             0|      197322.13|     0|
|     3518|  15757821|    Burgess|        771|    Spain|  Male| 18|     1|      0.0|            2|        0|             0|       41542.95|     0|
|     2137|  15621893|   Bellucci|        727|   France|  Male| 18|     4|133550.67|            1|        1|             1|       46941.41|     0|
|     3687|  15665327|   Cattaneo|        706|   France|  Male| 18|     2| 176139.5|            2|        1|             0|      129654.22|     0|
|     9502|  15634146|        Hou|        835|  Germany|  Male| 18|     2|142872.36|            1|        1|             1|      117632.63|     0|
|     3331|  15657439|       Chao|        738|   France|  Male| 18|     4|      0.0|            2|        1|             1|       47799.15|     0|
|     9521|  15673180|Onyekaozulu|        727|  Germany|Female| 18|     2|  93816.7|            2|        1|             0|      126172.11|     0|
|     3513|  15657779|     Boylan|        806|    Spain|  Male| 18|     3|      0.0|            2|        1|             1|       86994.54|     0|
|      747|  15787619|      Hsieh|        844|   France|  Male| 18|     2|160980.03|            1|        0|             0|      145936.28|     0|
|     3296|  15654296|    Estrada|        754|    Spain|Female| 19|     9|      0.0|            1|        1|             0|      189641.11|     0|
|       58|  15647091|   Endrizzi|        725|  Germany|  Male| 19|     0|  75888.2|            1|        0|             0|       45613.75|     0|
|     4331|  15666652|  Anayolisa|        781|   France|Female| 19|     3|      0.0|            2|        1|             1|      124297.32|     0|
|     3240|  15776844|        Hao|        762|    Spain|Female| 19|     6|      0.0|            2|        1|             0|       55500.17|     0|
|     3096|  15680243|      Brown|        792|   France|  Male| 19|     7|143390.51|            1|        1|             0|       33282.84|     0|
|     6888|  15662641|      Amadi|        850|   France|  Male| 19|     8|      0.0|            1|        1|             1|       68569.89|     0|
|     4793|  15809991|    Ferrari|        756|    Spain|  Male| 19|     4|130274.22|            1|        1|             1|      133535.29|     0|
|     6004|  15579892|      Doyle|        708|    Spain|  Male| 19|     7|112615.86|            1|        1|             1|        4491.77|     0|
|     8787|  15770968|     Leason|        741|  Germany|Female| 19|     8|108711.57|            2|        1|             0|       24857.25|     0|
|     3632|  15794841|       Kung|        739|    Spain|  Male| 19|     5| 89750.21|            1|        1|             0|      193008.52|     0|
|     8585|  15732967|  Cremonesi|        731|   France|  Male| 19|     6|      0.0|            2|        1|             1|      151581.79|     0|
+---------+----------+-----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [44]:
max_age=churn_df.agg({"Age":"max"})

In [46]:
max_age.show()

+--------+
|max(Age)|
+--------+
|      92|
+--------+

In [47]:
import pyspark.sql.functions as F
churn_df.groupBy("Geography","Age").agg(F.max("NumOfProducts")).show()

+---------+---+------------------+
|Geography|Age|max(NumOfProducts)|
+---------+---+------------------+
|  Germany| 54|                 3|
|   France| 92|                 2|
|    Spain| 77|                 1|
|    Spain| 42|                 3|
|   France| 75|                 2|
|    Spain| 43|                 2|
|    Spain| 74|                 2|
|   France| 80|                 2|
|    Spain| 49|                 3|
|    Spain| 51|                 3|
|  Germany| 74|                 2|
|    Spain| 88|                 2|
|    Spain| 18|                 2|
|    Spain| 23|                 2|
|   France| 47|                 4|
|   France| 25|                 3|
|  Germany| 19|                 2|
|  Germany| 48|                 3|
|   France| 42|                 4|
|    Spain| 61|                 2|
+---------+---+------------------+
only showing top 20 rows

In [49]:
churn_df.groupBy("Geography").agg({'NumOfProducts':'sum'}).show()

+---------+------------------+
|Geography|sum(NumOfProducts)|
+---------+------------------+
|  Germany|              3813|
|   France|              7676|
|    Spain|              3813|
+---------+------------------+

In [50]:
pd=churn_df.toPandas()

In [51]:
pd.corr()

                 RowNumber  CustomerId  ...  EstimatedSalary    Exited
RowNumber         1.000000    0.004202  ...        -0.005988 -0.016571
CustomerId        0.004202    1.000000  ...         0.015271 -0.006248
CreditScore       0.005840    0.005308  ...        -0.001384 -0.027094
Age               0.000783    0.009497  ...        -0.007201  0.285323
Tenure           -0.006495   -0.014883  ...         0.007784 -0.014001
Balance          -0.009067   -0.012419  ...         0.012797  0.118533
NumOfProducts     0.007246    0.016972  ...         0.014204 -0.047820
HasCrCard         0.000599   -0.014025  ...        -0.009933 -0.007138
IsActiveMember    0.012044    0.001665  ...        -0.011421 -0.156128
EstimatedSalary  -0.005988    0.015271  ...         1.000000  0.012097
Exited           -0.016571   -0.006248  ...         0.012097  1.000000

[11 rows x 11 columns]

In [52]:
churn_df.createOrReplaceTempView("churn")

In [53]:
spark.sql("select * from churn").show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows